html {
  min-height: 100%;
}

body {
  color: black;
  background: #eeeeee;
  font: 1.1em "Times New Roman";
  line-height: 1.2;
}
#resume {
  display: flex;
  gap: 2vw;
  min-height: 100vh;
}

#resume-left {
  max-width: 30vw;
  padding: 80px 20px;
  background-color: darkslategray;
  color: white;
}

#resume-right {
  flex-grow: 1;
  padding: 40px 20px;
  height: 100%;
}

#biography {
  text-align: center;
  margin-bottom: 2em;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
  margin: 0;
  padding: 0;
}
h2 {
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-size: 130%;
  margin: 1em 0 0.5em 0;
  padding: 0;
}

#resume-left h2 {
  border-bottom: 1px solid white;
}
#job-title {
  border-bottom: 0 solid #ffffff;
  text-align: center;
  font-size: 100%;
}

h3 {
  font-size: 100%;
  margin: 0.8em 0 0.3em 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
p {
  margin: 0 0 0.5em 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0 1.5em;
}
/* ul immediately after h1 = contact list */
h1 + ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 + ul > li {
  display: inline;
  white-space: pre;
  list-style-type: none;
}
h1 + ul > li:after {
  content: "  \2022  ";
}
h1 + ul > li:last-child:after {
  content: "";
}
/* p immediately after contact list = summary */
h1 + ul + p {
  margin: 1em 0;
}
@media print {
  body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background: none;
  }
  #resume {
    margin: 0;
    padding: 0;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  /* Do not underline abbr tags in PDF */
  abbr {
    text-decoration: none;
    font-variant: none;
  }
  /* Make links black in PDF */
  /* Move this outside the print block to apply this in HTML too */
  a,
  a:link,
  a:visited,
  a:hover {
    color: #000000;
    text-decoration: underline;
  }
}
@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: letter;
  /* margin: 0.5in 0.8in; */
  margin: 0;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background: #ffffff !important;
  }
  #resume {
    margin: 0;
    padding: 1em;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
